nav {
    height: 70px;
    background:  #004a96;
}

::ng-deep .mat-card-avatar {
    border-radius: 0% !important;
    margin-right: 10px;
}

.news-card {
    margin: 20px 0px;
}

.btn:hover{
   background-color: #004a96; 
}

@media (max-width: 700px) { 

    .form-inline{
      visibility: hidden;
    }
   }